body {
  margin: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fileForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fileForm .inputs {
  display: flex;
  width: 100%;
  justify-content: center;
}

.fileForm button {
  width: 50%;
}