.file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fileInput {
    display: none;
}

.fileLabel {
    display: flex;
    height: 10rem;
    width: 20rem;
    border: 1px dashed var(--pico-primary);
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0;
}

.fileLabel:hover {
    background-color: var(--pico-form-element-active-background-color);
    border-color: var(--pico-primary-border);
}

.file-upload-container output {
    font-size: small;
}

